.picex
{
	background-color: #4A4646;
	border: 4px solid #B3ACAC;
	color: #D0D0D0;
	margin: 1em;
	padding: 2em;
}
.styledpicex
{
	background-color: #4A4646;
	border: 4px solid #B3ACAC;
	color: #D0D0D0;
	margin: 1em;
	padding: 2em;
}
.pickerwells
{
	position: relative;
	top: 0px;
	border: 4px inset #796C6C;
	height: 200px;
	width: 433px;
}
.textvalues
{
	border: 4px inset #796C6C;
	padding: 0.5em;
	text-align: inherit;
	width: 419px;
	position: relative;
	top: 10px;
}
#styledhslval
{
	background-color: #000;
	color: #00FF00;
	text-align: center;
	width: 8em;
}
.rgbstyle
{
	background-color: #000;
	color: #00FF00;
	font-size: 12px;
	text-align: center;
	width: 5.5em;
}
.sliderbank
{
	border: 4px inset #796C6C;
	padding: 0.5em;
	text-align: inherit;
	width: 419px;
	height: 153px;
	position: relative;
	top: 5px;
}
.rgbsliders
{
	border: 5px groove #796C6C;
	padding: 0.25em;
	margin-bottom: 0.25em;
	width: 250px;
}
.hsvsliders
{
	border: 5px groove #796C6C;
	padding: 0.25em;
	margin-bottom: 0.25em;
	width: 250px;
}
.sliderlabel
{
	width: 5em;
	min-width: 5em;
	text-align: center;
	float: left;
	font-size: 12px;
	font-family: sans-serif;
}
.slcontainer
{
	border-right: 9px ridge #796C6C;
	left: 2px;
	height: 200px;
	width: 350px;
	position: relative;
	top: -200px;
}
.slstyle
{
}
.huecontainer
{
	width: 75px;
	height: 200px;
	position: relative;
	top: 0px;
	left: 357px;
}
.huestyle
{
	width: 75px;
	height: 200px;
}
.resultwell
{
	width: 50px;
	height: 50px;
}
.styledresultwell
{
	width: 145px;
	height: 145px;
	border: 4px inset #796C6C;
	left: 270px;
	position: relative;
	top: -157px;
}
